@import "packages/reveal-js/reveal.js/css/theme/default.css";

div#chatArea {
  z-index: 2;
  position: absolute;
  height:100%;
  width:200px;
  top:150px;
  left:0;
  background:#f3f3f3;
}

body {
  color: white;
}

div#chatArea li {
  color: white;
}

input#chat {
  width: 80%;
}

div#overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
div#reveal-math {
  position: absolute;
  top: 0;
  left: 0;
}